[submodule "curriculum-basis"]
	path = curriculum-basis
	url = https://github.com/slonl/curriculum-basis.git
[submodule "curriculum-lpib"]
	path = curriculum-lpib
	url = https://github.com/slonl/curriculum-lpib.git
[submodule "curriculum-kerndoelen"]
	path = curriculum-kerndoelen
	url = https://github.com/slonl/curriculum-kerndoelen.git
[submodule "curriculum-examenprogramma"]
	path = curriculum-examenprogramma
	url = https://github.com/slonl/curriculum-examenprogramma.git
[submodule "curriculum-examenprogramma-bg"]
	path = curriculum-examenprogramma-bg
	url = https://github.com/slonl/curriculum-examenprogramma-bg.git
[submodule "curriculum-syllabus"]
	path = curriculum-syllabus
	url = https://github.com/slonl/curriculum-syllabus.git
[submodule "curriculum-leerdoelenkaarten"]
	path = curriculum-leerdoelenkaarten
	url = https://github.com/slonl/curriculum-leerdoelenkaarten.git
[submodule "curriculum-doelgroepteksten"]
	path = curriculum-doelgroepteksten
	url = https://github.com/slonl/curriculum-doelgroepteksten.git
[submodule "master/curriculum-basis"]
	path = master/curriculum-basis
	url = https://github.com/slonl/curriculum-basis.git
[submodule "master/curriculum-kerndoelen"]
	path = master/curriculum-kerndoelen
	url = https://github.com/slonl/curriculum-kerndoelen.git
[submodule "master/curriculum-examenprogramma"]
	path = master/curriculum-examenprogramma
	url = https://github.com/slonl/curriculum-examenprogramma.git
[submodule "master/curriculum-examenprogramma-bg"]
	path = master/curriculum-examenprogramma-bg
	url = https://github.com/slonl/curriculum-examenprogramma-bg.git
[submodule "master/curriculum-syllabus"]
	path = master/curriculum-syllabus
	url = https://github.com/slonl/curriculum-syllabus.git
[submodule "master/curriculum-leerdoelenkaarten"]
	path = master/curriculum-leerdoelenkaarten
	url = https://github.com/slonl/curriculum-leerdoelenkaarten.git
[submodule "master/curriculum-doelgroepteksten"]
	path = master/curriculum-doelgroepteksten
	url = https://github.com/slonl/curriculum-doelgroepteksten.git
[submodule "master/curriculum-lpib"]
	path = master/curriculum-lpib
	url = https://github.com/slonl/curriculum-lpib.git
